---
layout: default
title: ADK TV
---

{% include center-title.html %}

<div class="container">
  <div class="row">
    {% include video-container.html
       description='How about you cooking in the Korean Digital Kitchen like Turkish friends?'
       title='Cooking'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/shWxjGb1Npw" frameborder="0" allowfullscreen></iframe>'
    %}

    {% include video-container.html
       description='Let\'s see how students think about the Korean Digital Kitchen!!'
       title='Students'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/cJGVradnr2M" frameborder="0" allowfullscreen></iframe>'
    %}
  </div>
  <div class="row">
    {% include video-container.html
       description=''
       title='Korea - Kimchijeon'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/rzMayouSzyo" frameborder="0" allowfullscreen></iframe>'
    %}

    {% include video-container.html
       description=''
       title='Thai - Pad Thai'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/HH763CPleig" frameborder="0" allowfullscreen></iframe>'
    %}
  </div>
  <div class="row">
    {% include video-container.html
       description=''
       title='Chinese – Mapo Tofu'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/8Wp_P-N0vQM" frameborder="0" allowfullscreen></iframe>'
    %}

    {% include video-container.html
       description=''
       title='Turkish - Cacik'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/7sFkLbaQnVE" frameborder="0" allowfullscreen></iframe>'
    %}
  </div>
  <div class="row">
    {% include video-container.html
       description=''
       title='India – Onion Bhajis'
       video='<iframe width="560" height="315" src="https://www.youtube.com/embed/fzZhV2UHbvs" frameborder="0" allowfullscreen></iframe>'
    %}
  </div>
</div>
