---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <h2>Gallery</h2>
                <span class="center-line"></span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="cube-masonry">

        <div id="filters-container" class="cbp-l-filters-alignCenter">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".korean" class="cbp-filter-item">
                Korean <div class="cbp-filter-counter"></div>
            </div>
        </div>

        <div id="masnory-container" class="cbp">
          {% include photo-container.html category='korean' image='custom/gallery/1.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/2.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/3.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/4.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/5.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/6.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/7.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/8.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/9.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/10.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/11.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/12.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/13.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/14.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/15.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/16.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/17.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/18.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/19.png' %}
          {% include photo-container.html category='korean' image='custom/gallery/20.png' %}
        </div>
    </div><!--.cube masonry-->
</div>
<div class="divide50"></div>
