---
layout: default
title: News
---

{% include center-title.html %}

<div class="container">
  <ul class="timeline">
    {% include timeline-left.html
       title="The Official Book"
       date="May 2016"
       content="the official book for the European Digital Kitchen is made for publication. Professor Paul Seedhouse is editing papers written by the staff involved to publish a book ‘The European Digital Kitchen’. The book includes what has been researched in the Korean Digital Kitchen."
    %}
    {% include timeline-right.html
       title="Going Global"
       date="February - April 2015"
       content="the Korean Digital Kitchen goes to the global people. 48 participants from 20 different countries across the globe are taking part in the project to cook the authentic Korean cuisines. Almost all of them enjoy it!"
    %}
    {% include timeline-left.html
       title="Piloting"
       date="January 2015"
       content="the Korean Digital Kitchen is piloting! This project teach is piloting the materials ready for a couple of trials with 10 non-Korean learners."
    %}
    {% include timeline-right.html
       title="Official Kick-off"
       date="September 2014"
       content="the Korean Digital Kitchen officially kicked off! LanCook eventually has language and culture from the other side of the world."
    %}
    {% include timeline-left.html
       title="Interim Report"
       date="July 2013"
       content="Our Interim Report is available. LanCook is an EU Lifelong Project which started in December 2011 and lasts for 3 years. Our interim progress report is available here."
    %}
    {% include timeline-right.html
       title="European Digital Kitchens"
       date="June 2013"
       content="So how do the European Digital Kitchens work? We often get asked ‘so how do the kitchens work then?’.Many people recognise the word ‘digital’ but naturally, they are not quite sure how a kitchen can be digital. To help with this, we’ve made a guide which explains how the kitchens work. We play this to people before they cook in our digital kitchens. This version is in English."
    %}
    {% include timeline-left.html
       title="Piloting"
       date="March 2013"
       content="LanCook are piloting! Over the next few months, the whole LanCook team will be piloting the materials ready for at least 125 trials with 25o language learners throughout 2013. To see some of the piloting in action and find out about what happens when people use the digital kitchens, have a look at our video:"
    %}
    {% include timeline-right.html
       title="Multilingual leaflet"
       date="December 2012"
       content="Find out more about being part of LanCook by reading our multilingual leaflet…hot off the press!"
    %}
    {% include timeline-left.html
       title="New Equipment"
       date="November 2012"
       content="Our new equipment is ready and so is our Playback Tool"
    %}
    {% include timeline-right.html
       title="Portable Kitchens"
       date="September 2012"
       content="We are developing ‘portable kitchens’ in LanCook which includes a tablet PC, sets of sensors and normal utensils adapted so that sensors can be attached."
    %}
    {% include timeline-left.html
       title="Official Kick-off"
       date="July 2012"
       content="LanCook has officially kicked off! At the end of June, the partnership met for the first time face to face to make plans for the development of the project. It was a time for work and play which both ended up being based around food!"
    %}
    <li class="clearfix" style="float: none;"></li>
  </ul>

</div><!--/container-->
