---
layout: default
title: ADK Resource
description: |
  LanCook involved the creation of materials for use in the real-world environment of a kitchen.
  We use sensors which are small wireless devices which detect movement
  and link to an intelligent prompting system to guide learners step by step through a recipe.
  Some of our resources are non-sensor based and are used together with the digital kitchens to
  promote vocabulary and culture learning.
  You are welcome to use these paper-based and audio-visual resources
  as you wish It would be really great if you could let us know if and when you use these resources -
  you can do so by sending an email to either
  <a href="mailto:jieun.kiaer@orinst.ox.ac.uk">Jieun Kiaer</a>,
  <a href="mailto:j.u.park@ncl.ac.uk">Jaeuk Park</a>
  , or
  <a href="mailto:paul.seedhouse@newcastle.ac.uk">Paul Seedhouse</a>.
---

{% include center-title.html %}

<div class="container">
  <ul class="timeline">
    {% include timeline.html
       title='김치전(kimchijeon, kimchi pancake)'
       link='custom/recipes/kimchijeon-recipe.pdf'
    %}
  </ul>
  <ul class="timeline">
    {% include timeline.html
       position='right'
       title='Chinese - Ma Po Tofu'
       link='custom/recipes/chinese-ma-po-tofu.pdf'
    %}
  </ul>
  <ul class="timeline">
    {% include timeline.html
       title='Indian - Onion Bhajis'
       link='custom/recipes/indian-onion-bhajis.pdf'
    %}
  </ul>
  <ul class="timeline">
    {% include timeline.html
       position='right'
       title='Japanese - Udon'
       link='custom/recipes/japanese-udon.pdf'
    %}
  </ul>
  <ul class="timeline">
    {% include timeline.html
       title='Thai - Pad Thai'
       link='custom/recipes/thai-pad-thai.pdf'
    %}
  </ul>
  <ul class="timeline">
    {% include timeline.html
       position='right'
       title='Turkish - Cacik'
       link='custom/recipes/turkish-cacik.pdf'
    %}
  </ul>
</div>
