<!-- About Section Begins -->
<section id="about"><br><br></section>
<div id="aboutwrap">
  <div class="container">
    <h2>ABOUT US</h2>
  </div><!-- End aboutwrap -->
</div><!-- End Container -->

<!-- Studio Carousel and Quote -->
<div class="container">
  <hr>
  <div class="row">
    <div class="span6">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active"><img src="assets/images/about/1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/about/2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/about/3.jpg" alt=""></div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div><!-- span6 -->

    <div class="span6">
      <div id="aboutwrap">
        <h3>Out work</h3>
        <p>
          continues as we strive to promote language learning, mobility and collaboration through cooking and technology!
          Check out our resources page too where you will find lots of materials we created to accompany the Digital Kitchen cooking sessions.
          If you would like to get involved in the future of the project work, use the contact details on all the language specific pages.
        </p>
      </div>
    </div><!-- End span6 -->
  </div><!-- End row -->
  <br>
</div><!-- End Container -->
