<div class="divide35"></div>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div id="testi-carousel" class="owl-carousel owl-spaced" style="margin-top: 100px;">
              <div>
                  <img src="custom/about-1.jpg" class="img-responsive" alt="">
              </div>
              <div>
                  <img src="custom/about-2.jpg" class="img-responsive" alt="">
              </div>
              <div>
                  <img src="custom/about-3.jpg" class="img-responsive" alt="">
              </div>
          </div>
      </div>

      <div class="col-md-6">
          <div class="project-detail">
              <h2>About us</h2>
              <hr>
              <p>
                Our work continues as we strive to promote language learning, mobility and collaboration through cooking and technology! Check out our resources page too where you will find lots of materials we created to accompany the Digital Kitchen cooking sessions. If you would like to get involved in the future of the project work, use the contact details on all the language specific pages.
              </p>
          </div>
      </div>
  </div>
</div>
