<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Powerful Theme">
                <!-- MAIN IMAGE -->
                <img src="custom/banner-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="50"
                     data-y="160"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Digital Kitchen
                </div>

                <div class="caption text sfl"
                     data-x="50"
                     data-y="310"
                     data-speed="1000"
                     data-start="1800"
                     data-easing="easeOutExpo">
                     is intended to offer a language learning environment<br />
                     which is not only multimodal but multisensory as a part of learners experiencing<br />
                     aspects of the foreign culture and cusine.<br /><br />
                     Paul Seedhouse
                </div>
            </li>


            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Lan Cook">
                <!-- MAIN IMAGE -->
                <img src="custom/banner-2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption text-center-top sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1400"
                     data-easing="easeOutExpo">
                  LanCook
                </div>

                <div class="caption text-center-btm sfr text-center"
                     data-x="center"
                     data-y="265"
                     data-speed="1000"
                     data-start="1600"
                     data-easing="easeOutExpo">

                    Promoting European language learning, mobility and collaboration through cooking and technology!

                </div>
            </li>
            <!-- SLIDE -->
        </ul>
    </div>
</div><!--full width banner-->
