<!-- Contact Section Begins -->
  <section id="contact"><br><br></section>

  <div id="footerwrap">
    <div class="container">
    <br>
    <h2>CONTACT</h2>
      <div class="row">
        <div class="span8 offset2">
          <img src="assets/images/logo.png" alt="">
          <h3>Asian Digital Kitchen</h3>
          <h4><a href="mailto:jieun.kiaer@orinst.ox.ac.uk">Jieun Kiaer (jieun.kiaer@orinst.ox.ac.uk)</a></h4>
          <h4><a href="mailto:paul.seedhouse@newcastle.ac.uk">Paul Seedhouse (paul.seedhouse@newcastle.ac.uk)</a></h4>
          <h4><a href="mailto:j.u.park@ncl.ac.uk">Jaeuk Park (j.u.park@ncl.ac.uk)</a></h4>
        </div><!-- span4 -->


      </div><!-- row -->
    </div><!-- container -->
  </div><!-- footerwrap -->
