<div class="divide80"></div>
<div class="container">

    <div class="center-heading">
        <h2>Events</h2>
        <span class="center-line"></span>
    </div>

    <ul class="filter list-inline">
        <li><a class="active" href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".photography">Photography</a></li>
        <li><a href="#" data-filter=".illustration">illustration</a></li>
        <li><a href="#" data-filter=".branding">branding</a></li>
        <li><a href="#" data-filter=".web-design">web design</a></li>
    </ul>
    <div class="row">
        <div class="portfolio-box iso-call col-2-space">

            <div class="project-post photography branding">
                <div class="img-icon">
                    <img src="img/img-1.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-1.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->

            </div><!--project post-->
            <div class="project-post illustration web-design">
                <div class="img-icon">
                    <img src="img/img-2.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-2.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->

            <div class="project-post illustration web-design">
              <div class="img-icon">
                    <img src="img/img-3.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-3.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->
            <div class="project-post photography web-design">
               <div class="img-icon">
                    <img src="img/img-4.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-4.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->

            <div class="project-post branding">
               <div class="img-icon">
                    <img src="img/img-5.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-5.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->
            <div class="project-post  illustration">
               <div class="img-icon">
                    <img src="img/img-6.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-6.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->

            <div class="project-post  branding">
               <div class="img-icon">
                    <img src="img/img-7.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-7.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->


            <div class="project-post   web-design">
                <div class="img-icon">
                    <img src="img/img-8.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-8.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->

            <div class="project-post  branding">
                <div class="img-icon">
                    <img src="img/img-9.jpg" class="img-responsive" alt="">
                    <div class="img-icon-overlay">
                        <p>
                            <a href="img/img-9.jpg" class="show-image"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-sliders"></i></a>
                        </p>
                    </div>
                </div> <!--img-icon-->
            </div><!--project post-->
        </div>
    </div>
</div><!--container-->

<div class="divide60"></div>


<section id="events"></section>

  <div id="projectwrap_2">
  <div class="container">
  <br>
  <br>
  <h2>Upcoming Events</h2>
    <div class="row">
      <br>

      {% include photo.html filename="events/2016-10.jpg" size="4" %}
      {% include photo.html filename="events/2016-09.png" size="4" %}
      {% include photo.html filename="events/2016-08.jpg" size="4" %}

    </div><!-- row -->
    <br>
  </div><!-- container -->
</div><!-- projectwrap2 -->
