<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 margin30">
          <div class="footer-col">
              <h3>Asian Digital Kitchen</h3>
              <p>

              </p>
              <!-- <ul class="list-inline footer-social">
                  <li>
                      <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                          <i class="fa fa-facebook"></i>
                          <i class="fa fa-facebook"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                          <i class="fa fa-twitter"></i>
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                          <i class="fa fa-google-plus"></i>
                          <i class="fa fa-google-plus"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                          <i class="fa fa-pinterest"></i>
                          <i class="fa fa-pinterest"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                          <i class="fa fa-linkedin"></i>
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
              </ul> -->
          </div>
      </div><!--footer col-->

      <div class="col-md-6 col-sm-12">
        <div class="footer-col">
          <h3>Contact</h3>
          <ul class="list-unstyled contact">
              <li>
                <p>
                  <strong><i class="fa fa-envelope"></i> Mail:</strong>
                  <a href="mailto:jieun.kiaer@orinst.ox.ac.uk">Jieun Kiaer (jieun.kiaer@orinst.ox.ac.uk)</a>
                </p>
              </li>
              <li>
                <p>
                  <strong><i class="fa fa-envelope"></i> Mail Us:</strong>
                  <a href="mailto:paul.seedhouse@newcastle.ac.uk">Paul Seedhouse (paul.seedhouse@newcastle.ac.uk)</a>
                </p>
              </li>
              <li>
                <p>
                  <strong><i class="fa fa-envelope"></i> Mail Us:</strong>
                  <a href="mailto:j.u.park@ncl.ac.uk">Jaeuk Park (j.u.park@ncl.ac.uk)</a>
                </p>
              </li>
          </ul>
        </div>
      </div><!--footer col-->

  </div>
  <div class="row">
      <div class="col-md-12 text-center">
          <div class="footer-btm">
              <span>&copy;2016. Built by WeLoveWeb</span>
          </div>
      </div>
    </div>
  </div>
</footer><!--default footer end here-->
