<!-- Project Section Begins -->
<section id="projects"></section>

<div id="projectwrap">
    <header class="clearfix">
        <div class="container">
            <div class="span12">
                <div class="boxcolor">
                    <h1>Digital Kitchen - Gallery</h1>
                </div>
            </div>
            <!-- span12 -->
        </div>
        <!-- container -->
    </header>
</div>
<!-- projectwrap -->

<div id="projectwrap_2">
    <div class="container">
        <br>
        <br>
        <h2>Food Shots</h2>
        <div class="row">
          <br />
            {% include photo.html filename="1.jpg" %}
            {% include photo.html filename="2.jpg" %}
            {% include photo.html filename="3.jpg" %}
            {% include photo.html filename="4.jpg" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="5.jpg" %}
            {% include photo.html filename="6.jpg" %}
            {% include photo.html filename="7.jpg" %}
            {% include photo.html filename="8.jpg" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="9.jpg" %}
            {% include photo.html filename="10.jpg" %}
            {% include photo.html filename="11.jpg" %}
            {% include photo.html filename="12.jpg" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="13.jpg" %}
            {% include photo.html filename="14.jpg" %}
            {% include photo.html filename="15.jpg" %}
            {% include photo.html filename="16.jpg" %}
        </div>
        <!-- row -->
        <br>
        <hr>
    </div>
    <!-- container -->
</div>
<!-- projectwrap2 -->
