<!-- Project Section Begins -->
<section id="projects"></section>

<div id="projectwrap">
    <header class="clearfix">
        <div class="container">
            <div class="span12">
                <div class="boxcolor">
                    <h1>Digital Kitchen - Gallery</h1>
                </div>
            </div>
            <!-- span12 -->
        </div>
        <!-- container -->
    </header>
</div>
<!-- projectwrap -->

<div id="projectwrap_2">
    <div class="container">
        <br>
        <br>
        <h2>Food and us</h2>
        <div class="row">
          <br />
            {% include photo.html filename="food-korean/1.jpg" size="3" %}
            {% include photo.html filename="food-korean/2.jpg" size="3" %}
            {% include photo.html filename="food-korean/3.jpg" size="3" %}
            {% include photo.html filename="food-korean/4.jpg" size="3" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="food-korean/5.jpg" size="3" %}
            {% include photo.html filename="food-korean/6.jpg" size="3" %}
            {% include photo.html filename="food-korean/7.jpg" size="3" %}
            {% include photo.html filename="food-korean/8.jpg" size="3" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="food-korean/9.jpg" size="3" %}
            {% include photo.html filename="food-korean/10.jpg" size="3" %}
            {% include photo.html filename="food-korean/11.jpg" size="3" %}
            {% include photo.html filename="food-korean/12.jpg" size="3" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="food-korean/13.jpg" size="3" %}
            {% include photo.html filename="food-korean/14.jpg" size="3" %}
            {% include photo.html filename="food-korean/15.jpg" size="3" %}
            {% include photo.html filename="food-korean/16.jpg" size="3" %}
        </div>
        <div class="row">
          <br />
            {% include photo.html filename="food-korean/17.jpg" size="3" %}
        </div>
        <!-- row -->
        <br>
        <hr>
    </div>
    <!-- container -->
</div>
<!-- projectwrap2 -->
