<!-- Project Section Begins -->
<section id="projects"></section>

<div id="projectwrap">
    <header class="clearfix">
        <div class="container">
            <div class="span12">
                <div class="boxcolor">
                    <h1>Gallery</h1>
                </div>
            </div>
            <!-- span12 -->
        </div>
        <!-- container -->
    </header>
</div>
<!-- projectwrap -->

<div id="projectwrap_2">
    <div class="container">
        <br>
        <br>
        <h2>Food Shots</h2>
        <div class="row">
            <br>
            {% include photo.html filename="1.jpg" %}
            {% include photo.html filename="2.jpg" %}
            {% include photo.html filename="3.jpg" %}
        </div>
        <!-- row -->
        <br>
        <hr>
    </div>
    <!-- container -->
</div>
<!-- projectwrap2 -->
