<!-- Header Image and Logo -->
<div id="headerwrap">
    <header class="clearfix">
        <div class="span12">
            <img src="assets/images/logo.png">
            <h3 style="color: white;">"Digital Kitchen is intended to offer a language learning environment
                which is not only multimodal but multisensory as a part of learners experiencing
                aspects of the foreign culture and cusine."
            </h3>
            <h3 style="color: white;">Paul Seedhouse</h3>
        </div>
    </header>
</div>
