<div class="cbp-item {{ include.category }}">
    <a class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu" href="{{ include.image }}">
        <div class="cbp-caption-defaultWrap">
            <img src="{{ include.image }}" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">{{ include.category }}</div>
                    <!-- <div class="cbp-l-caption-desc">by Cosmin Capitanu</div> -->
                </div>
            </div>
        </div>
    </a>
</div>
