<div class="divide80"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h3 class="heading">Cooking and Technology</h3>
            <p>
              LanCook was a 3 year EU funded Lifelong Learning project that began in December 2011.
              The project involved the creationg of language learning materials in 7 languages that integrate the
              next generation of innovative approaches to language learning with technology.
            </p>
            <p>
              Using digital sensors and a task-based language learning approach, LanCook's materials are designed
              to promote a geunuinely situated language learning experience of a real-world activity.
            </p>
            <p>
              The materials are housed in a "mobile kitchen," where, via tablet PC, the kitchen communicates with the
              learners and instruct them how to cook a typical dish of one of the 7 languages linked to
              7 European cultures and cusines: Catalan, English, Finnish, French, German, Italian, and Spanish.<br />
              The project was very successful, and now the platform is going to oriental languages such as Korean,
              Chinese Mandarin, Japanese, and Turkish. The first oriental language that will employ this technology
              will be Korean. The Korean Digital Kitchen.
            </p>
            <p>
              The kitchen will provide step-by-step instructions through an intelligent audio and visual prompting
              system supported by embedded digital sensors that are inserted in or attached to all the equipments and
              ingredients. The system also uses information from the sensors to provide other timely feedback linked
              to specific learner progress through the cooking task.
            </p>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SYgsQTYp3aE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div><!--about intro-->

</div>
