<li>
    <div class="timeline-badge primary"><i class="fa fa-image"></i></div>
    <div class="timeline-panel wow animated fadeInUp">

        {% if include.image != nil %}
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ include.image }}" alt=""/>
        </div>
        {% endif %}

        <div class="timeline-body">
            <h2>{{ include.title }}</h2>
            <ul class="list-inline post-detail">
                <li><i class="fa fa-calendar"></i> {{ include.date }}</li>
            </ul>
            <p>{{ include.content }}</p>
            <!-- <a class="btn border-theme" href="#">Read More</a> -->
        </div>

    </div>
</li>
